TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_CONTROL=true
CHECK_INTERVAL=2
LOGIN_TIMEOUT=180
PRESENCE_CONFIRMATIONS=2
PRESENCE_CHECK_DELAY=0.3
SEND_SCREENSHOT_TO_TELEGRAM=true
WINDOWS_NOTIFICATIONS=true
CHROME_HEADLESS=false
